html {
  font-family: "Spartan", serif;
  --darkmagenta: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --graymagenta: hsl(303, 10%, 53%);
  --lightgraymagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

.container {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
  margin: 5%;
}

.banner {
  border: 1px solid red;
}

.tag-main {
  /* border: 1px solid gray; */
  font-size: 40px;
  font-weight: 700;
  color: var(--darkmagenta);
  width: 50%;
  padding: 20px;
}

.tag-fineprint {
  /* border: 1px solid gray; */
  font-size: 20px;
  color: var(--graymagenta);
  width: 65%;
  padding: 20px;
}

.rating {
  border: 1px solid purple;
  display: grid;
  grid-template-rows: repeat(3, 80px);
  grid-template-columns: repeat(12, 1fr);
  row-gap: 15px;
  text-align: center;
  padding: 40px;
}

.rating-1 {
  /* border: 1px solid blue; */
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--lightgraymagenta);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: var(--darkmagenta);
}

.rating-2 {
  /* border: 1px solid blue; */
  grid-column-start: 3;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--lightgraymagenta);
  border-radius: 10px;
  color: var(--darkmagenta);
}

.rating-3 {
  /* border: 1px solid blue; */
  grid-column-start: 4;
  grid-column-end: 12;
  grid-row-start: 3;
  display: flex;
  justify-content: space-evenly;
  background-color: var(--lightgraymagenta);
  border-radius: 10px;
  color: var(--darkmagenta);
}

.review {
  border: 1px solid orange;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  padding: 20px;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  column-gap: 5px;
}

.reviewer-container {
  padding: 40px;
}

.review-1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 10;
  /* border: 2px solid black; */
  background: var(--darkmagenta);
  color: var(--white);
  border-radius: 10px;
  margin: 10px;
}

.review-2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 2;
  grid-row-end: 11;
  background: var(--darkmagenta);
  color: var(--white);
  border-radius: 10px;
  margin: 10px;
}

.review-3 {
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 12;
  background: var(--darkmagenta);
  color: var(--white);
  border-radius: 10px;
  margin: 10px;
}

.reviewer {
  display: grid;
  /* border: 1px solid white; */
  grid-template-rows: 1fr;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.reviewer-details {
  display: block;
  border: 1px solid white;
  align-content: space-between;
}

.reviewer img {
  border-radius: 50px;
  width: 50px;
}

.verified {
  color: var(--pink);
}
